body {
  font-family: Tahoma, Trebuchet MS;
  font-size: 12px;
  color: black;
}

input,
text {
  margin: 1px;
  border: solid 1px;
  font-size: 12px;
  color: black;
  background-color: white;
}

a,
A:link,
a:visited,
a:active {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

#header {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
  justify-content: space-between;
  text-decoration: none;
}

.input-section {
  display: flex;
  padding: 27px;
  margin-top: 16px;
  flex-direction: column;
  background-color: rgb(6, 53, 68);
  margin-left: 250px;
  margin-right: 250px;
  color: #fff;
  border-radius: 10px;
}

.result-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 5px;
  justify-content: space-between;
}

.title-field {
  width: 100px;
  height: 20px;
  display: inline-block;
}

button {
  width: 85px;
  margin-right: 4px;
  font-size: 12px;
  cursor: pointer;
  color: #000;
  background: #fee161;
  border-radius: 10px;
}

button:hover {
  motion: auto;
  background: #000;
  color: #fff;
}

#nameError {
  display: none;
  font-weight: bold;
  color: red;
  padding: 4px;
}

#nameError.visible {
  display: block;
}

input.invalid {
  border-color: red;
}

button {
  margin-top: 20px;
}

button.hitung {
  margin-left: 100px;
}
button.reset {
  margin-left: 40px;
}
